.header{
    font-size: 0.75vw;
    color: #373D42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B2C5C1;
    padding: 1vh 0;
    font-weight: bold;
    padding: 1vh 3vw;
}

.logo{
    font-size: 1.25vw;
    font-weight: bold;
}

.header-links-container{
    display: flex;
}

.header-links-container > .header-button{
    width: 4vw;
}

.top-right{
    display: flex;
    align-items: center;
}

.header-button, .log-in{
    height: fit-content;
    cursor: pointer;
    padding: 1vw;
}

.top-right{
    width: fit-content;
    display: flex;
    justify-content: right;
    border-left: 1px solid #B2C5C1;
}

.top-right > div{
    width: 4vw;
    text-align: center;
}

.top-right > .header-button{
    border-right: 1px solid #B2C5C1;
}

.log-in{
    color: #21242E;
    background-color: #2DCE54;
    border-radius: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}


@media only screen and (max-width: 768px) {
    .header{
        font-size: 0.2rem;
        padding: 1vh 3vw;
        width: 94vw;
    }
    
    .header-links-container > .header-button{
        width: auto;
    }

    .top-right > div{
        width: auto;
    }

    .logo{
        font-size: 0.5rem;
    }
}