.poster{
    position: relative;
    display: flex;
    border-left: 1px solid #B2C5C1;
    border-right: 1px solid #B2C5C1;
    border-radius: 0.5vw;
    min-width: 560px;
    margin: 0 3vw;
}

.poster > div{
    flex-grow: 1;
    flex-basis: 1;
    padding: 7vh 2vw;
}

.no-comission{
    font-size: 2vh;
    color: #686D77;
}

.join-best{
    color: #22211F;
    font-size: 5vh;
}

.trade-with{
    font-size: 1.5vh;
    color: #9ca59e;
    padding: 2vh 0;
}

.back-img{
  height: 25vh;
}

.crypto-svg-path{   
    fill: #D2D2D4;
}

.start-trading{
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 2vw;
    background-color: #6FD691;
    border: none;
    border-radius: 3px;
    width: 12vw;
}

.left-poster{
    width: 25vw;
    padding: 1vw;
    border-right: 1px solid #B2C5C1;
}

.right-poster{
    display: flex;
    align-items: center;
    justify-content: center;
}